<EditForm Model="@Contact" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group ">
        <div>
            <label>DNI :</label>
            <div>
                <InputText @bind-Value="@Contact.TaxVat"/>
                <ValidationMessage For="@(() => Contact.TaxVat)" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Nombre :</label>
        <div>
            <InputText @bind-Value="@Contact.PersonalName" />
            <ValidationMessage For="@(() => Contact.PersonalName)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Apellidos :</label>
            <div>
                <InputText @bind-Value="@Contact.FamilyName" id="FamilyName" />
                <ValidationMessage For="@(() => Contact.FamilyName)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Email :</label>
            <div>
                <InputText @bind-Value="@Contact.Email" />
                <ValidationMessage For="@(() => Contact.Email)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Teléfono :</label>
            <div>
                <InputText @bind-Value="@Contact.PhoneNumber" />
                <ValidationMessage For="@(() => Contact.PhoneNumber)" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>

</EditForm>


@code {
    [Parameter] public Contact Contact { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Guardar";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
